:root {
    --highlight-color: #095aba;
    --secondary-highlight-color: #117cf5;
}

.heading-style {
    margin-top: 3%;
}
.fit-row-style {
    display: block;
}

.button-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}
.unimportant-button {
    background-color: var(--highlight-color);
}

.unimportant-button-disabled {
    background-color: #35567c;
    color: #9aa7b7;
}
