#files {
    height: 100px;
    background-color: #303030;
    color: #e1e1e1;
    font-size: 12px;
    text-wrap-style: nowrap;
    overflow-y: scroll;
}

.input-label {
    font-size: 15px;
    color: #e1e1e1;
    font-weight: bold;
}

.same-line {
    white-space: nowrap;
}

.same-line-element {
    display: inline-block;
}