:root {
    --highlight-color: #095aba;
    --secondary-highlight-color: #117cf5;
}


/*
TODO Organize this css more
*/

.button-100 {
    width: 100%;
}

.heading-style {
    margin-top: 3%;
}

.fit-row-style {
    display: block;
}

.input-style {
    background-color: #282828;
    heigh: 20px;
    width: 100%;
    border-radius: 10px;
}

.unimportant-button {
    background-color: var(--highlight-color);
}

.right-div-align {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.table-style {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
}
.row-style {
    display: flex;
    width: 100%;
    marginBottom: 0;
    flex-wrap: wrap;
}

.row-style:nth-child(even) {
    background-color: #6e6e6e;
}

.row-highlight-style {
    display: flex;
    width: 100%;
    marginBottom: 0;
    flex-wrap: wrap;
    background-color: var(--highlight-color);
}


.row-highlight-style:nth-child(even) {
    background-color: var(--secondary-highlight-color);
}

.row-header-style {
    display: flex;
    width: 100%;
    marginBottom: 0;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}

.col-style {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.width-50 {
    width: 50%;
}

.col-right-border {
    border-right: 1px solid white;
}

.left-pad {
    padding-left: 7px;
}

.strong-text {
    font-weight: bolder;
    font-style: italic;
}

.files {
    height: 100px;
    background-color: #303030;
    color: #e1e1e1;
    font-size: 12px;
    text-wrap-style: nowrap;
    text-overflow: clip;
    overflow-y: scroll;
}

.active-file {
    background-color: var(--highlight-color);
    color: #e1e1e1;
}

.completed-file {
    background-color: #676767;
}

.inactive-file {
    color: #e1e1e1;
}

.file-checkbox {
    width: 10px;
    height: 10px;
}

.stupid-icon {
    transform: scaleX(-1);
}
