.active-file {
    background-color: #0000FF;
    color: #e1e1e1;
}

.completed-file {
    background-color: #FF0000;
}

.inactive-file {
    color: #e1e1e1;
}

.file-checkbox {
    width: 10px;
    height: 10px;
}
